@tailwind base;
@tailwind components;
@tailwind utilities;

/* body,
html,
#root {
  font-family: "Do Hyeon", sans-serif;
  width: 100%;
} */

* {
  box-sizing: border-box;
}

body {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
